<div class="post">
  <h2>Title</h2>
  <div>
    <span>Post by BaoThanhNien có </span>
    <span class="total-comments"> Post </span>
    lượt <span class="total-comments">bình luận</span>
  </div>
  <div class="summary">Summary</div>
  <hr />

  <div class="comment">
    <div class="author">Author</div>
    <div class="comment-content">Content</div>
    <div class="likes">
      <span class="number">numberLike</span>
      <span class="material-icons"> thumb_up </span>

      <!-- <Icon
              class="icon"
              path={mdiThumbUp}
              size={0.8}
            ></Icon> -->
    </div>
  </div>
</div>
